
@font-face {
    font-family: "Velvetique";
    src:url(/Fonts/Velvetique.otf);
}

* {
    font-family: "Cinzel", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

header {
    background-color: black;
    color: blanchedalmond;
}

body {
    background-color: black;
}

ul {
    font-size: .8em;
}


.hours {
    display: inline;
    float: right;
    /* margin-bottom: 20em; */
    color: blanchedalmond;
}

h2, h3, p, h4 {
    color: blanchedalmond;
}

.viridian{
    color: blanchedalmond;
    font-weight: bold;
    font-size: 1.5rem;
}

.placeholder {
 text-align: end;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

ul  { 
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: .9rem;
    background-color: black;
    list-style: none;
    display: flex;
    outline: 1px solid purple;
} 

.theicons {
    display: flex;
    gap: 1rem;
}

 input {
  font-size: .9rem; 
  padding-left: .25rem;
} 

.mainsec {
    height: 100vh;
    background-image: url(/Images/salonbackground10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid greenyellow 1px;
}

.arrow {
        text-align: right;
        margin-left: 70%;
    }
/*
.notwhite * {
    float: left;
    width: 50%;

}
*/

.bottomText * {
    width: 100%;
}

/* 
.notwhite::after {
    content: "";
    display: block;
    clear: both;
}  */

.picture-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

}

.discount-section {
    background-color: rgba(0, 0, 0, .5);
    padding: 1rem;
    max-width: 33%; 
    border: 1px solid green;
    align-self: flex-end;
}    

.discount-section h4, .discount-section p{
    background-color: rgba(0, 0, 0,);
    color: blanchedalmond;
    border: darkslategray;
    font-size: 1.5rem;
}

.bookonlinebutton {
   display: inline-block;
   background-color: black; 
    border: 1px solid #a790a5;
    margin-top: 2rem;
    padding: 0 1rem;
}

.hours {
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    color: black;
    font-size: large;
    margin-block: 0px;
    float: right;
}

h1 {
    color: #a790a5;
    text-align: center;
    font-weight: 300;
    padding-bottom: 35px;
    text-shadow: 1.25px 1.25px 5px black;
}

/* Figure out how to move button lower. */
.ourServices a{
    background-color: rgb(17, 5, 5);
    color: #a790a5;
    border: solid 1px #3d5341;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    padding: 1.3rem;
    /* line-height: 3rem; */
    /* width: 140px;
    height: 3rem; */
    position: relative;
    bottom: 5.5rem;
}



.sectiontwo {
    display: flex;
    justify-content: center;
    gap: 3rem;
    max-width: 70%;
    margin: 10rem auto;
    /* position: relative; */
}

.notwhite button {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 125px;
    height: 50px;
}


/* Consider making the below puce or rose quartz, one of the pinker or purpler colors in the
palette and then make the button below beige? */
.cheese {
    font-family: 'Velvetique';
    font-size: 4.5rem;
    text-shadow: 3px 3px solid #3d5341;
}

h3 {
    text-align: center;
    margin-bottom: 2rem; 
}

.toprow, .bottomrow {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    text-align: center;
    margin: 0 auto 1rem;
}

/* Consider a different font. */
.ourlookbook h2{
    font-size: 2.5rem;
    text-align: center;
}

/*change below when you have the stylists properly formatted, won't need nearly as much
padding if any. */

.ourlookbook {
    padding-top: 15rem;
}

.ourlookbook img{
    height: 17rem;
    width: 20%;
    float: left;
    margin-bottom: 5%;
    margin-left: 8%;
    border: 4px solid #3d5341;
}

/*
Eliminate if you end up not needing bigpic, which is the background sitting outside the div.
.bigPic {
    position: absolute;
    width: 15em;
    margin-bottom: 50em;
    margin-right: 15em;
    z-index: "front";
} */

.circle {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.circle p {
    font-size: .8rem;
}

.minisection {
    width: 100%;
     text-align: center;
}

.minisection h2 {
    margin-bottom: 1rem;
}

.pro-image {
    display: flex;
    justify-content: center;
    width: 10rem;
}

/* ASHTON. LET'S ADD OPACITY TO RIGHT SIDE, AND THEN SEE IF YOU WANT TO DO A CAROUSEL WITH VARYING
SIZES THAT TAKE UP THE WHOLE AREA LIKE THE BIG PIC, AND THE OTHERS BEING HALFISES. NOT EASY BUT LIKE IT. */