* {
    font-family: "Cinzel", serif;
    box-sizing: border-box; 
}

header {
    background-color: black;
    color: blanchedalmond;
}

body {
    background-color: black;
}

ul {
    font-size: .8em;
}


.hours {
    display: inline;
    float: right;
    /* margin-bottom: 20em; */
    color: blanchedalmond;
}

h1, h2, h3, p, h4 {
    color: blanchedalmond;
}

.viridian{
    color: blanchedalmond;
    font-weight: bold;
}

.placeholder {
 text-align: end;
}

header::after {
    content: "";
    display: block;
    clear: both;
}

.viridian {
    font-size: 1.25rem;
}

ul * {
float: left;
width: 10%;
padding-bottom: 1.5rem;
font-weight: 600;
font-size: .9rem;
background-color: black;
/* border: solid 3px blue; */
list-style: none;
} 

.icons {
    gap: 1rem;
}

.mainsec {
    background-image: url(/Images/salonbackground10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid greenyellow 1px;
    z-index: -1;
}

/* .bigPic {
    border: solid red 1px;
    clear: both;
    padding: 20%;
    background-repeat: no-repeat; 
    height: 40em;
    width: 10em;
} */

.arrow {
        text-align: right;
        margin-left: 70%;
    }
/*
.notwhite * {
    float: left;
    width: 50%;

}
*/

.bottomText * {
    width: 100%;
}

/* 
.notwhite::after {
    content: "";
    display: block;
    clear: both;
}  */

/* main::after {
    content: "";
    display: block;
    clear: both;
} 

.pictureText {
z-index: 1;
}

/*
.pictureText *{
    float: left;
    width: 100%;
    padding-left: 12px;
}

.pictureText {
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    color: blanchedalmond;
}

.pictureText, img {
    display: block; 
    margin-bottom: 25em;
    width: 100%;
}
    */

    /* figure out why this made the background image smaller???
    Also figure out why border doesn't show all of the way. */
.discount-section {
    background-color: black;
    width: 15rem;
    height: 10rem;
    border: 1px solid green;
    border-bottom: 1px solid green;
}    

.discount-section h4, p, a{
    background-color: black;
    color: blanchedalmond;
    border: darkslategray;
    font-size: 1.5rem;
}

.hours {
    writing-mode: vertical-rl; 
    text-orientation: mixed;
    color: black;
    font-size: large;
    margin-block: 0px;
    float: right;
}

h1 {
   /* position: absolute; */
    font-weight: 300;
    padding-bottom: 35px;
}

/* Figure out how to move button lower. */
.ourServices a{
    background-color: rgb(17, 5, 5);
    color: green;
    border: solid 1px #3d5341;
    font-size: .9rem;
    font-weight: 600;
    text-align: center;
    padding: 1.3rem;
    /* line-height: 3rem; */
    /* width: 140px;
    height: 3rem; */
    position: relative;
    bottom: 5.5rem;
}



.sectiontwo {
    display: flex;
    justify-content: center;
    gap: 20%;
    /* position: relative; */
}

.notwhite button {
    background-color: black;
    color: white;
    font-size: 14px;
    width: 125px;
    height: 50px;
}


/* Consider making the below puce or rose quartz, one of the pinker or purpler colors in the
palette and then make the button below beige? */
.cheese {
    font-size: 4.5rem;
    text-shadow: 3px 3px solid #3d5341;
    z-index: 1;
}

.stylists {
    height: 20rem;
    width: 15rem;
}

/* Consider a different font. */
.ourlookbook h2{
    font-size: 2.5rem;
    text-align: center;
}

/* ABSOLUTELY REFORMAT */
.ourlookbook img{
    height: 17rem;
    width: 20%;
    float: left;
    margin-bottom: 5%;
    margin-left: 8%;
    border: 4px solid #3d5341;
}

/*
Eliminate if you end up not needing bigpic, which is the background sitting outside the div.
.bigPic {
    position: absolute;
    width: 15em;
    margin-bottom: 50em;
    margin-right: 15em;
    z-index: "front";
} */

.circle {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.proImage {
    display: flex;
    justify-content: center;
    width: 10rem;
}