/* Figure out fonts later, and don't worry about colors until closer to
the end. Worry more about layout.

Also, this is where we got the layout for the HTML: https://www.geeksforgeeks.org/javascript/create-a-contact-form-using-html-css-javascript/
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    background: linear-gradient(black,whitesmoke);
}

h1, p {
    color: whitesmoke;
    padding-bottom: 1.5em;
    text-align: center;
}

.formgroup {
padding-bottom: 1.5em;
}

button {
    color: whitesmoke;
    font-color: black;
    display: block;    
}